version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password123
      MYSQL_DATABASE: reportes_comunidad_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password123
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    command: >
      bash -c "
        sleep 5 &&
        python backend/manage.py migrate --noinput &&
        python backend/manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - .:/app
      - media_data:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_NAME: reportes_comunidad_db
      DB_USER: user
      DB_PASSWORD: password123
      DB_PORT: 3306
      DEBUG: 'True'
      SECRET_KEY: 'django-insecure-safe-key-for-dev'

volumes:
  db_
  media_